h1 {
  color: #944dff;
}

.party {
  font-weight: bolder;
  color: blue;
}


.saybug {
  text-decoration: overline;
  color: white;
}

.table{
  text-decoration: underline;
}

p {
  background-color: black;
  color: white;
}

.house .window{
  color:purple
}

.house .door{
  color: red
}

.house .window h1{
  color: blue;
}

.house .door h1{
  color: green;
}


.tree .leaf{
  h1:
}

.picture-grid .row {
    border: solid black 1px;
}

img {
  width: 100%;
  height: auto;
}

.black{
  color: black;

}

.white{
  color:white;
}

.grey{
  color:grey;
}

.brownred{
  border: solid #4d0000 3px;
}

.brownyellow{
  border: solid #663300 3px;
}

.browngreen{
  border: solid #663300 3px;
}

.brownpurple{
  border: solid #26004d 3px;
}

.brownblue{
  border: solid #00004d 3px;
}

.brownorange{
  border: solid #803300 3px;
}

.center {
  text-align: center;
}

.littleguy {
  height: 21px;
  width: auto;
}

#mia {
  color:#99ffdd;
  font_family: 'Times New Roman';
}

.black {
  border: solid black 5px;
  height: 80px;
}
